<!-- <article>  

    <div>
        <div>
            <h1 style="text-align: center; ">İkna Edici Bir “Hakkımızda” Yazısı Nasıl Yazılır?</h1>
        </div>
        <div style="text-align: center;"><img
                src="https://th.bing.com/th/id/R.81ce6376cb9de6b878943521264ead24?rik=riqfa7cAEHh0sQ&riu=http%3a%2f%2fwww.interactiveworld.in%2fiwocon%2fuploads%2f2015%2f05%2fonline-marketing-300x193.png&ehk=XG54pQrF0oc%2fUV6beKTtT8qYtabXykj8PAX8vw2w8jc%3d&risl=&pid=ImgRaw&r=0">
        </div>


        <div>

            <p>Hakkımızda sayfası web sitenizin en önemli sayfalarından biridir çünkü markanızın kim olduğunu, tercih
                ettiğiniz hitap diline göre hedef kitlenize tanıtma olanağı sağlar. Hakkımızda sayfası sizin hakkında en
                ayrıntılı bilgi veren sayfadır. Bu sayede sitenize gelen ziyaretçiler birinci kaynaktan kim olduğunuzu
                öğrenme fırsatı yakalar.&nbsp;</p>
            <p>Fakat hakkımızda sayfasına gereken önemin gösterilmediği durumlarla sık sık karşılaşılıyor. Bunun
                sebepleri arasında;</p>
            <ul>
                <li>hakkımızda sayfası içeriğinin marka diline uygun şekilde yazılmamış olması,&nbsp;</li>
                <li>içeriğin üstünkörü düzenlenmiş ve zayıf bir metne sahip olması,&nbsp;</li>
                <li>site sayfasının markaya uygun elementleri içermemesi</li>
                <li>web sitesi tasarımın markaya uygun yapılmamış olması yer alıyor.</li>
            </ul>
            <p>Bununla birlikte sadece bilgi veren, samimiyetten uzak hakkımızda sayfalarının da istenilen etkiyi
                yaratmadığı bir gerçek. Ancak hakkımızda sayfasının gücünü de yabana atmamak gerekir çünkü güçlü bir
                hakkımızda sayfası dönüşüm oranlarınızı artırmaya yardımcı olabilir! Bunun içinse hakkımızda sayfası
                titizlikle hazırlanmalı ve belli soruların cevapları yazı içerisinde yer almalıdır. Peki hakkımızda
                sayfasında neler bulunmalıdır?</p>
            <ul>
                <li>Kim olduğunuz</li>
                <li>Ne iş yaptığınız</li>
                <li>İşinizi nasıl yaptığınız</li>
                <li>İşinizle ilgili nelere önem verdiğiniz</li>
            </ul>
            <p>Hakkımızda sayfasının gücü aslında öylesine büyüktür ki sitenize gelen ziyaretçilerin markanıza karşı
                güven duymasına ve markayı içselleştirmesine yardımcı olur. Nihayetinde ise dönüşüm hedeflerinize
                ulaşmanızı sağlayan yolda ziyaretçinin adım adım ilerlemesine yol açar. Bu sayede hakkımızda sayfanızdan
                dahi dönüşüm oranınızı arttırmanız oldukça mümkün hale gelir. Peki hakkımızda sayfasına gelen
                ziyaretçinin dönüşüm yolculuğunda attığı adımlar neler olabilir dersiniz?</p>
            <ul>
                <li>E-maillerinize ve varsa bülteninize abone olabilir.</li>
                <li>Ürün veya hizmetlerinizle ilgili daha fazla bilgi isteyebilir.</li>
                <li>Markanıza ait ürün ve hizmetleri satın alabilir.</li>
                <li>Sitenizdeki kaynakları kullanabilir, indirebilir.</li>
                <li>İletişim bilgilerinizden direkt olarak size ulaşabilir.</li>
            </ul>
            <p>Bu adımların hepsi güçlü bir hakkımızda sayfasından alacağınız aksiyonlar arasında yer alabilir. Bu
                açıdan bakıldığında bu sayfa içerisinde yer alan içeriğin iyi yazılmış ve kendini doğru ifade eden ikna
                edici bir içerik olması gerekmektedir.</p>
            <p><strong>Peki güçlü ve ikna edici bir Hakkımızda Sayfası Nasıl Hazırlanır?</strong></p>
            <p>Her şeyden önce şunu unutmamakta yarar var: Hakkımızda sayfası sadece markanız ya da hizmetlerinizden
                bahsettiğiniz bir sayfa olmamalıdır. Aynı zamanda hedef kitlenizin markanızla duygusal anlamda bağ
                kurmasını sağlamalıdır. Böylece markanızın müşterinin istek ve ihtiyaçlarını karşıladığı hissi ve güveni
                sayfanızı ziyaret eden kullanıcılara geçebilir.</p>
            <p>Bu amaçlara yönelik hazırlanan bir hakkımızda sayfası sayesinde potansiyel müşterilerinizi sadık
                müşterilere dönüştürebilir aynı zamanda marka bilinirliğinizin artmasını sağlayabilirsiniz.</p>
            <p>Bu yüzden hakkımızda sayfasında şu soruların cevapları mutlaka olmalıdır:</p>
            <ul>
                <li>Kısa kuruluş hikayeniz nedir?</li>
                <li>Markanıza özel özellikleriniz neler? Neyi farklı yapıyorsunuz?</li>
                <li>Markanızın değerleri ve inançları neler?</li>
                <li>Potansiyel müşterileriniz neden sizi tercih etmeli?</li>
            </ul>
            <h3><strong>Kuruluş Hikayeniz&nbsp;</strong></h3>
            <p>Markanızın hikayesi ve hikayenizi anlatış şekliniz, müşterilerinizin markanızla duygusal bağ kurmasına
                yardımcı olabilir. Bu açıdan bakıldığında markanızı yansıtırken yarattığınız samimiyet, sıcaklık ve
                profesyonel bakış açınız aslında ikna edici bir hakkımızda yazısının temel taşlarını oluşturur. Bununla
                birlikte markanızın kuruluş hikayesini hakkımızda sayfasında yer vermek markaya duyulan güvenin
                artmasını sağlar. Kuruluş hikayenizde markanız için verdiğiniz emek ve değeri görünür kılabilirsiniz bu
                sayede müşterilerinizle daha güçlü bir duygusal bağ kurmanız mümkün olur.</p>
            <div style="text-align: center;">
                <figure><img
                        src="https://lh5.googleusercontent.com/mikPYZ5aPeOn-QRULb2tugmsK7q5sjs0ia4mRsVeF_q7cWOFd2O_3wFC2VNS3lWHq4GRp8RraNuHdRSjBFNHWL0AEpmdVTJX3yNodmnGeQKMJ4G37R9XjFC6wbtl7DEWrZ8pb2Es"
                        alt="hakkımızda sayfası örneği" class="  lazyload-loaded"></figure>
            </div>
            <p>Örneğin Mutlu Akü, hakkımızda sayfasına kuruluş hikayesine uzunca bir yer vermiş. Aynı zamanda yılların
                tecrübesinden kaynaklı deneyimlerini ön plana çıkararak potansiyel müşterilerine bu tecrübeyi aktarma
                fırsatı bulurken, sadık müşterilerin oluşumuna da katkı sağlıyor.</p>
            <h3><strong>Markanızı Farklı Kılan Özellikler</strong></h3>
            <p>Markanızı tüm özellikleriyle ilgi çekici bir şekilde müşterilerinize anlatırken sizi siz yapan
                özelliklerinizden bahsedin. Sizi farklı kılan, diğerlerinden ayıran unsurlar neler? Belki doğa dostu
                üretim yapıyorsunuz, belki de kadın gücünü destekleyen veya kadın gücünden doğmuş bir markasınız. Eğer
                kurumsal ve profesyonel bir şirketiniz varsa üretim gücünüz ve profesyonelliğinizi ön plana
                çıkarabilirsiniz.</p>
            <div style="text-align: center;">
                <figure><img
                        src="https://lh6.googleusercontent.com/2OsvrjjcLVfOMWYTC_GxYrdGuFrV2zYXcSmNHqGNC9CsQLAtusuGxpZKEqu29fV06JwwtRD21adjuduL_k6wwvoqM2cPdueNqU7J0rCfrJoFYMZHgV_gB7UI6FP3SclqQwhw_OAR"
                        alt="başarılı hakkımızda sayfası" class="  lazyload-loaded"></figure>
            </div>
            <p>Güleks Tekstil, hakkımızda sayfasında markayı farklı kılan özelliklere değinmiş ve sürdürülebilirliğe
                önem verdiğinden profesyonel bir dille bahsetmiş. Bununla birlikte kurumsal imajını, üretim gücü
                açıklamasıyla pekiştirmiş.</p>
            <h3><strong>Değerler, İnançlar, Vizyon ve Misyonlar</strong></h3>
            <p>Markanızın değerleri ve inançları potansiyel müşterilerin markanızla bağ kurmasına hatta kendilerini
                markanızla özdeşletirmelerine sebep olabilir. Bu yüzden inandığınız, arkasında durduğunuz değerleri
                hakkımızda sayfasına ekleyebilirsiniz. Böylece marka kimliğiniz ve sağlam duruşunuz pekişecektir.</p>
            <p>Daha kurumsal işlere imza atan bir şirketseniz o zaman vizyon ve misyonlarınızdan da hakkımızda
                sayfasında bahsedebilir, değer ve inançlarınızı bu şekilde ifade edebilirsiniz.</p>
            <p>Örneğin İçerik Bulutu tarafından hazırlanan Flora Klinik hakkımızda sayfasında kısaca vizyon ve
                misyonlardan bahsedilerek marka kişiliği,markanın duruşu pekiştirilmiş ve sayfa, başarılı hakkımızda
                yazısı örnekleri içerisinde yerini almış.&nbsp;</p>
            <div style="text-align: center;">
                <figure><img
                        src="https://lh6.googleusercontent.com/C5fRLmafInM5jKahzqItCcM8UMfDHPiYaI0GvzCU4SSf8vxFSFCugomh8jQtAdV6KaQ0RnoTIORXKsuge0WemgVALjx1Z2eprUThg9GGZMIzWaJyqX-F6B0QqynFJcFSUXFPsL8_"
                        alt="örnek hakkımızda sayfası" class="  lazyload-loaded"></figure>
            </div>
            <h3><strong>Tercih Edilebilirlik</strong></h3>
            <p>Peki ya potansiyel müşterileriniz neden sizi tercih etmeli? İşte burada ikna edici bir hakkımızda
                yazısının önemi anlaşılıyor. Bu soruya vermiş olduğunuz yanıtları gözden geçirin. Bu yanıtları ikna
                edici bir şekilde müşterilerinize nasıl anlatabilirsiniz? Birkaç cümle içerisinde hakkımızda yazısına bu
                nedenleri de ekleyebilirsiniz. Böylece müşterilerinize kendinizi daha iyi anlatma fırsatı elde
                edebilirsiniz.</p>
            <p><strong>Peki ya Başka?</strong></p>
            <p><strong>Ekibinize Yer Açın!</strong></p>
            <p>Site hakkımızda bölümü içerisinde ekibinize yer vermek ise marka güvenirliğini artırmaya yardımcı olur.
                Bu sayede potansiyel müşterileriniz bu iş için arka planda emek veren bir grup insan görür ve markanızla
                duygusal bağ kurması kolaylaşır. Ekibinize özellikle hafifçe gülümseyen fotoğrafları ile birlikte
                sayfanızda yer verirseniz markanız hakkında daha pozitif bir izlenim yaratabilirsiniz.</p>
            <p><strong>İletişim Bilgilerinizi Ekleyin</strong></p>
            <p>İletişim bilgilerinizle ilgili kısaca bilgi vermek ya da iletişim sayfasına yönlendirme yapmak da
                hakkımızda sayfasından istediğiniz dönüşümü elde etmeninizi kolaylaştırır. Çünkü iletişim bilgilerinizi
                paylaşarak ilgili müşterilerin size ya da ilgili departmana kolaylıkla ulaşması oldukça iyi bir intiba
                bırakır. Eğer dijital hizmetler veren bir şitketseniz iletişim bilgilerinizi sayfanızda vererek
                hizmetleriniz hakkında daha detaylı bilgi isteyen ilgililerin size ulaşmasını sağlayabilirsiniz.
                E-ticaret hakkımızda yazısında iletişim kısmında ziyaretçinizi müşteri hizmetlerine
                yönlendirebilirsiniz.</p>
            <p>Dilerseniz sosyal medya hesaplarınızı ya da size kısa yoldan ulaşılmasını sağlayabilecek farklı iletişim
                bilgilerinizi de hakkımızda sayfasına ekleyebilirsiniz.</p>
            <div style="text-align: center;">
                <figure><img
                        src="https://lh6.googleusercontent.com/EHn8W-uTNL007GzGzSaeETeJebIyiFx7L46Xkv2s4VJoGeFNAK2zsJM6jxC8k7dfZg7UpeOWqz1q8x4DaFMrk9tBobD_TILsEgRotDyPJd3ix4LethMTOgNxkMp-L4IeK0lMsB8I"
                        alt="firma hakkımızda yazı örneği" class="  lazyload-loaded"></figure>
            </div>
            <p>
                Örneğin MACOM müşterilerinin kısa yoldan ulaşmalarını sağlamak için Whatsapp hattını hakkımızda
                sayfasına
                eklemiş.</p>
            <p><strong>Hitap Dilinizi Belirleyin</strong></p>
            <p>Hitap diliniz marka kimliğinizi ortaya koyan unsurlardan biridir. Bu yüzden markanıza uygun hitap dilini
                belirlemek markanızı potansiyel müşterilere doğru bir şekilde yansıtmanızı sağlar. Bununla birlikte
                hitap diliniz aynı zamanda müşteri kitlenize de uygun olmalıdır. Markanız ile ulaşmak istediğiniz
                müşteri kitlesi bir anlamda aynı dili konuşmalıdır. Bunun için eğer 20-40 yaş aralığında genç ve dinamik
                bir müşteri kitlesine sahipseniz ve yoga matları satan bir markaysanız daha samimi ve sıcak bir şekilde
                hitap edebilir, hikayenizi bu samimiyet içerisinde anlatabilirsiniz. Eğer müşterileriniz 40 yaş
                üzerindeyse ve yüksek pozisyonlarda çalışan iş insanları ise o zaman daha kurumsal ve profesyonel bir
                hitap dili tercih etmelisiniz.</p>
            <p><strong>Tasarımı Es Geçmeyin!</strong></p>
            <p>Web sitenizin tasarımı, hızı, yazıların puntosu gibi özellikler de web sitenizde geçirilen vakti etkiler.
                Bununla eş zamanlı olarak web sitenizde geçirilen vaktin artması dönüşüm oranlarınızı da olumlu yönde
                etkiler. Web sitesi hakkımızda sayfası tasarımınız ideal müşterilerinizin sadık müşterilere dönüşüp
                dönüşmeyeceğini belirleyen bir etkiye sahip olabilir.&nbsp;</p>
            <p>Bu yüzden hakkımızda sayfanızın tasarımının kullanıcı dostu olmasına, tasarımın hem marka kimliğinizle
                uyuşmasına hem de müşteri kişiliğinize hitap etmesine dikkat edebilirsiniz. Hakkımızda sayfası
                tasarımında marka renklerinize ve logonuza yer verebilir, profesyonel bir etki yaratmak için kurucuların
                imzalarını da kullanabilirsiniz.</p>
            <p><strong>Üretim ya da Hizmet Sürecinizi Görselleştirin</strong></p>
            <p>Görselleştirme, müşterilerinizin üretim ya da hizmet sürecini daha kolay anlamalarını ve almak
                istedikleri ürün ya da hizmetleri daha açık şekilde görmelerini ve içselleştirmelerini sağlar. Bu yüzden
                siz de çizgisel ya da döngüsel şablonlar kullanarak üretim ya da hizmet sürecinizin kısa bir özetini
                görselleştirerek verebilirsiniz. Böylece marka güvenirliğine de katkıda bulunabilirsiniz.</p>
            <p>Dilerseniz kuruluş hikayenizi de zaman çizelgesi halinde görselleştirebilir bu sayede hikayenizin akılda
                kalıcılığını arttırabilirsiniz. Markanız adına önemli adımları zaman çizelgesi üzerinde
                belirtebilirsiniz.</p>
            <div style="text-align: center;">
                <figure><img
                        src="https://lh6.googleusercontent.com/769ezpf8D_SZoIB1Jn4dnZMclw3yamU83P9gIrArllMcP3SvTPNfUbJj-e77Y_U7rAnJRMHpbEwbZKjkga-itoAFn8ZXlINHk2RzIdZ1VuygX29RjzdsqgAyWcz_LMz_3mAEGN3u"
                        alt="İkna Edici Bir &quot;Hakkımızda&quot; Yazısı Nasıl Yazılır?" class="  lazyload-loaded">
                </figure>
            </div>
            <p>Örneğin Hakkımızda sayfası içerik üretimi için İçerik Bulutu’nu tercih etmiş olan Güleks, zaman
                çizelgesini kullanarak kuruluş sürecini görselleştirmiş ve hazır hakkımızda yazılarından birine örnek
                oluşturmuş.</p>
            <p>Siz de hakkımızda sayfanızı hazırlarken bu noktalara dikkat edebilir, güçlü bir içerik yapısıyla
                ördüğünüz hakkımızda sayfanız sayesinde marka güvenirliği oluşturabilirsiniz. En iyi hakkımızda yazısına
                sayfanızda yer vererek bilinirliği arttırabilirsiniz. Bununla birlikte potansiyel müşterilerinize
                kendinizi tanıtma imkanı bulabilirsiniz. Müşterilerinizin markanız ile duygusal bağ kurmasını sağlayacak
                sadık müşteriler edinebilir ve nihayetinde satışlarınızı yükseltebilirsiniz!</p>
            <p>Markanızın hakkımızda sayfası içerik üretimi için profesyonel bir desteğe ihtiyacınız varsa İçerik
                Bulutu’dan destek alabilirsiniz.</p>

            <p>Detaylı bilgi için Kaynakça</p>
            <p>https://www.searchenginejournal.com/about-us-page-examples/250967/#close</p>
            <p>https://www.shopify.com/blog/how-to-write-an-about-us-pag</p>
        </div>
    </div>
</article> -->


