<div class="row">

  <div class="col-md-3">
    <app-cv-info></app-cv-info>

  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <div class="flex-shrink-0 p-3 bg-white shadow p-3 mb-5 bg-white rounded" style="width: 950px;  ">
          <ul class="list-unstyled ps-0">
            <div class="accordion" id="accordionExample8">
              <div class="accordion-item" style="width: 900px;  ">
                <h2 class="accordion-header" id="headingOne15">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne15" aria-expanded="true" aria-controls="collapseOne15">
                    <h4>Cv</h4>
                  </button>
                </h2>
                <div id="collapseOne15" class="accordion-collapse collapse show" aria-labelledby="headingOne15"
                  data-bs-parent="#accordionExample15">
                  <div class="accordion-body">
                    <div class="list-group">
                      <a *ngFor="let cv of cvs" class="list-group-item list-group-item-action d-flex gap-3 py-3"
                        aria-current="true">
                        <i class="bi bi-book-half opacity-75" style="font-size: 2rem; color: #78c2ad;"></i>
                        <div class="d-flex gap-2 w-100 justify-content-between">
                          <tr>
                            <td>
                              <div>
                                <h6 class="mb-0"> Cv Title : {{cv.title}}</h6>
                                <p class="mb-0 opacity-75"></p>
                              </div>
                              <small class="opacity-50 text-nowrap"> <span>Cv Cover Letter: {{cv.coverLetter}}</span></small>
                            </td>
                            <td>
                              <button pButton pRipple   icon="pi pi-trash" class="p-button-danger" (click)="catchCvId(cv.id)" (click)="deleteCvById(cv.id)" ></button>
                             </td>
                          </tr>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class=""></div>
                 <app-school-view></app-school-view>
                <app-job-experience-view></app-job-experience-view>
                <app-language-view></app-language-view>
                <app-skill-view></app-skill-view>
              </div>
            </div>
          </ul>
        </div>

      </div>

      <div class="col-md-4">
        <!-- <app-candidate-sidebar-info></app-candidate-sidebar-info> -->
      </div>

    </div>

  </div>
</div>