<!-- <div class="content">
    <div class="card">
        <div class="card-body">
             <form [formGroup]="employerCompanyUpdate">
                 <div class="mb-3">
                   
                    <div class="row"> 
                        <label>Company Name</label>
                        <div class="col"><img ></div>
                        <div class="col"> <input  class="form-select" formControlName="companyName"></div>
                        <div class="col"><button [disabled]="!employerCompanyUpdate.valid" (click)="updateCompanyName()" class="btn btn-primary">
                            Update
                          </button></div>
                        
                          </div> 
                </div>
             </form>
        </div>
    </div>
</div>

<div class="content">
    <div class="card">
        <div class="card-body">

            <form [formGroup]="employerPhoneNumber">

                <div class="mb-3">
                   
                      <div class="row"> 
                          <label>Phone Number</label>
                        <div class="col"><img ></div>
                        <div class="col"> <input  class="form-select" formControlName="phoneNumber"></div>
                        <div class="col"><button [disabled]="!employerPhoneNumber.valid" (click)="updatePhoneNumber()" class="btn btn-primary">
                            Update
                        </button>  </div>
                           </div> 
                 </div>
       
            </form>
        </div>
    </div>
</div>

<div class="content">
    <div class="card">
        <div class="card-body">

            <form [formGroup]="employerEmailAndWebsite">

                <div class="row">
                    <div class="col"><img ></div>
                    <div class="col">  <div class="mb-3">
                        <label>Email</label>
                             <input  class="form-select" formControlName="email">
                            
                    </div>
    
                    <div class="mb-3">
                        <label>Website</label>
                             <input  class="form-select" formControlName="website">
                            
                    </div> </div>
                    <div class="col"> 
                        <button [disabled]="!employerEmailAndWebsite.valid" (click)="updateEmailAndWebsite()" class="btn btn-primary">
                            Update
                        </button>   </div>
                       </div> 

             </form>
        </div>
    </div>
</div>
 -->

 <div class="row mt-5">
    <div class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="content">
                        <form [formGroup]="employerCompanyUpdate">
                            <div class="mb-3">
                              
                               <div class="row"> 
                                   <label>Company Name</label>
                                   <div class="col"><img ></div>
                                   <div class="col"> <input  class="form-select" formControlName="companyName"></div>
                                   <div class="col"><button [disabled]="!employerCompanyUpdate.valid" (click)="updateCompanyName()" class="btn btn-primary">
                                       Update
                                     </button></div>
                                   
                                     </div> 
                           </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="newsletter1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="content">
                        <form [formGroup]="employerPhoneNumber">

                            <div class="mb-3">
                                
                                  <div class="row"> 
                                     

                                    <div class="col"><img >  <label>Phone Number</label>
                                <h6 class="content-tuned">Update Phone Number
                                </h6></div>

                                    
                                    <div class="col"> <input  class="form-select" formControlName="phoneNumber"></div>
                                    <div class="col"><button [disabled]="!employerPhoneNumber.valid" (click)="updatePhoneNumber()" class="btn btn-primary">
                                        Update
                                    </button>  </div>
                                       </div> 
                             </div>
                   
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

   

<div class="row mt-5">
    <div class="newsletter2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="content">
                        <form [formGroup]="employerEmailAndWebsite">

                            <div class="row">
                                <div class="col"><img ></div>
                                <div class="col">  <div class="mb-3">
                                    <label>Email</label>
                                         <input  class="form-select" formControlName="email">
                                        
                                </div>
                
                                <div class="mb-3">
                                    <label>Website</label>
                                         <input  class="form-select" formControlName="website">
                                        
                                </div> </div>
                                <div class="col"> 
                                    <button [disabled]="!employerEmailAndWebsite.valid" (click)="updateEmailAndWebsite()" class="btn btn-primary">
                                        Update
                                    </button>   </div>
                                   </div> 
            
                         </form>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


 