 
<div class="nav-item dropdown me-2">
    <button type="button" class="btn btn-primary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Sign
    </button>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="#" routerLink="candidate-sign">Candidate Sign</a></li>
      <li><a class="dropdown-item" href="#" routerLink="employer-sign">Employer Sign</a></li>
      <li><hr class="dropdown-divider"></li>
      
    </ul>
  </div>  

  <!-- <button class="btn btn-primary mx-2" routerLink="candidate-sign">Candidate Sign</button>
  <button class="btn btn-primary mx-3" routerLink="employer-sign">Employer Sign</button> -->


 