<!-- <div class="content">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="candidateJobExperienceForm">
          <div class="mb-3">
            <select class="form-select" formControlName="positionId">
              <option value="" disabled>Positions</option>
              <option *ngFor="let position of positions" [ngValue]="position.id">
                {{position.title }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label>Start Year</label>
            <input type="year" placeholder="startYear" formControlName="startYear" class="form-control"  />
        </div>
        <div class="mb-3">
            <label>Quit Year</label>
            <input type="year" placeholder="quitYear" formControlName="quitYear" class="form-control"  />
        </div>
        <div class="mb-3">
            <label>Add Company Name</label>
            <select class="form-select" formControlName="workPlace">
              <option value="" disabled>Company Name</option>
              <option *ngFor="let employer of employers" [ngValue]="employer.id">
                {{employer.companyName }}
              </option>
            </select>
          </div>
        </form>
       </div>
    </div>
  </div> -->