

<div class="row">

       
    <div class="col-md-6">
        <div class="card">
            <div class="card-body mt-3">

                <form [formGroup]="userPasswordUpdate">

                    <div class="mb-3">
                        <label>old Password</label>
                        <input class="form-select" formControlName="oldPassword">

                    </div>

                    <div class="mb-3">
                        <label>New Password</label>
                        <input class="form-select" formControlName="password">

                    </div>

                    <button [disabled]="!userPasswordUpdate.valid" (click)="updatePassword()"
                        class="btn btn-primary">
                        Güncelle
                    </button>



                </form>
            </div>
        </div>
    </div>
</div>