


<div class="card-header">


  <div class="cv-school-img">
<img  src="assets/image/school.jpg">
</div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-primary me-md-2" data-bs-toggle="modal" data-bs-target="#schoolAdd">
      Add 
  </button>
   
 </div>
 
<!-- Modal -->
<div class="modal fade" id="schoolAdd" tabindex="-1" aria-labelledby="schoolAdd" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="schoolAdd">School Add</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="content">
        <div class="card">
            <div class="card-body">
    
                <form [formGroup]="candidateSchoolForm">
                    <div class="mb-3">
                        
                        <select  class="form-select" formControlName="schoolId" >
                            <option value="" disabled>School Name </option>
                            <option *ngFor="let school of schools" [ngValue]="school.id" >{{school.name}}</option>  
                        </select>
                    </div>
                    <div class="mb-3">
                        
                        <input type="year" placeholder="graduationYear" formControlName="graduationYear" class="form-control"  />
                    </div>
                    <div class="mb-3">
                        
                        <select  class="form-select" formControlName="departmentId" >
                          <option value="" disabled>Department Name </option>
                            <option *ngFor="let department of departments" [ngValue]="department.id" >{{department.name}}</option>  
                        </select>
                    </div>
                    <div class="mb-3">
                       
                        <input type="year" placeholder="startYear" formControlName="startYear"
                            class="form-control" />
                    </div>
                </form>
            </div>
            
        </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button
              [disabled]="!candidateSchoolForm.valid"
              (click)="candidateSchoolAdd()"
              class="btn btn-primary"
            >
              Save Changes
            </button>
  </div>
</div>
</div>
</div>
</div>


